.footer-container {
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
 
}
.footer-container .footer-body {
  margin: 0;
  padding: 0;
  height: 100%;

}
.footer-container .footer-body .footer-inner {
  margin: 0;
  padding: 0;
}
.footer-container .footer-body .footer-inner .footer-row {
  margin: 0;
  padding: 0;
  display: flex;
 
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  /* flex-wrap: wrap; */
 
}
.bottom{
  display: flex;
  justify-content: center;
}
.top{
  display: flex;
  justify-content: center;
}
.footer-container .footer-body .footer-inner .footer-row.top {
  /* flex: 2 1 60%; */
  background-color: #ffffff;
   
}
.footer-container .footer-body .footer-inner .footer-row.bottom {
  /* flex: 1 1 40%; */
   
  background-color: #04343c;
}
.footer-container .footer-body .footer-inner .footer-row.bottom .footer-col {
  /* justify-content: center;
   align-items: center; */
  display: flex;
  flex-direction: column;
  
}
.footer-container .footer-body .footer-inner .footer-row.bottom .footer-col p {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 14px;
  max-width: 90%;
}
.footer-container .footer-body .footer-inner .footer-row .footer-col {
  margin: 0;
  padding: 0;
   
}
.footer-container .footer-body .footer-inner .footer-row.top .footer-col {
  flex: 0 50%;
}
.footer-container
  .footer-body
  .footer-inner
  .footer-row
  .footer-col
  .footer-col-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer-container
  .footer-body
  .footer-inner
  .footer-row
  .footer-col
  .footer-col-content
  .age-strict
  strong {
  font-size: 6.5em;
  color: #fff;
  font-weight: 700;
  text-shadow: 5px 5px #333;
}
@supports (-webkit-text-stroke: 1px black) {
  .age-strict strong {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}
.footer-container
  .footer-body
  .footer-inner
  .footer-row
  .footer-col
  .footer-col-content
  .title {
  font-size: 16px;
  font-weight: 900;
  color: crimson;
  padding: 8px;
}
.footer-container
  .footer-body
  .footer-inner
  .footer-row
  .footer-col
  .footer-col-content
  .item {
  font-size: 15px;
  font-weight: 500;
  color: #8a898b;
  padding: 8px;
}
.brag{
   text-align: center;
}
.footer-container
  .footer-body
  .footer-inner
  .footer-row
  .footer-col
  .footer-col-content
  .item
  a {
  text-decoration: none;
  color: #333;
}
 @media screen and (max-width:992px) {
  .top{
    display: flex;
    flex-wrap: wrap;
  }
 }